<% content_for :customers do %>
<br />

<table class="table table-condensed table-striped table-bordered" id="customers">
  <thead>
    <tr>
      <th style="text-align:center">Actions</th>
      <th style="text-align:center">Customer Name</th>
    </tr>
  </thead>
  <tbody>
 	<%= render :partial => @customers %>
  </tbody>
</table>
<% end %>


<% content_for :packages do %>
<br />
<table class="table table-condensed table-striped table-bordered" id="packages">
  <thead>
    <tr>
      <th style="text-align:center">Actions</th>      
      <th style="text-align:center">Ski #</th>
      <th style="text-align:center">Boot #</th>
      <th style="text-align:center">Start Date</th>
      <th style="text-align:center">End Date</th>
      <th style="text-align:center">Actions</th>            
    </tr>
  </thead>
  <tbody> 
	  <% if @packages %>
 		<%= render :partial => @packages %>		
      <% end %>  
  </tbody>
</table>
<% end %>

<% content_for :rentals do %>
<br />
<table class="table table-condensed table-striped table-bordered" id="rentals">
  <thead>
    <tr>
      <th style="text-align:center">Log</th>
      <th style="text-align:center">Time</th>
    </tr>
  </thead>
  <tbody> 
	  <% if @rentals %>
 		<%= render :partial => @rentals %>		
      <% end %>  
  </tbody>
</table>
<% end %>









