<h2>Forgot your password?</h2><br />

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  	<fieldset>
  	<%= f.email_field :email %>
    </fieldset>
	<%= f.submit "Send reset password instructions", :class => 'btn btn-primary' %>
<% end %>

